<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="in.co.rajpusht.rajpusht">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashScreen"
            android:screenOrientation="userPortrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Login"
            android:launchMode="singleTask"
            android:screenOrientation="userPortrait" />
        <activity
            android:name=".DashBoard"
            android:label="@string/title_activity_dash_board"
            android:screenOrientation="userPortrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Profile"
            android:configChanges="locale|orientation|keyboardHidden"
            android:screenOrientation="userPortrait" />
        <activity
            android:name=".PregnantWomenForm"
            android:screenOrientation="userPortrait" />
        <activity
            android:name=".PregantWomenFooter"
            android:screenOrientation="userPortrait" />
        <activity
            android:name=".LactingMotherActivity"
            android:screenOrientation="userPortrait" />
        <activity
            android:name=".RegistrationWomen"
            android:screenOrientation="userPortrait" />
        <activity android:name=".LM_actvity" />
        <activity android:name=".MyActivity" />
        <activity android:name=".EditRegistartion" />
        <activity android:name=".CheckTimeActivity" />
        <activity android:name=".ChagePassword" />
        <activity android:name=".OtherWomenList" />


        <activity
            android:name=".activity.CashLoginActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/Theme.AppCompat.Light.Dialog.MinWidth" />
        <activity android:name=".activity.CashProfileActivity"
            android:launchMode="singleTop"/>
        <activity
            android:name=".activity.CashAadharSyncActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/Theme.AppCompat.Light.Dialog.MinWidth" />
        <activity
            android:name=".activity.CashBeneficiaryActivity"
            android:label="@string/title_activity_cash_beneficiary"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.CashAddNewBenefeciaryActivity"
            android:label="@string/title_activity_cash_add_new_benefeciary"
            android:theme="@style/AppTheme.NoActionBar"></activity>

        <activity
            android:name=".activity.CashSecondThirdActivity"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".activity.CashThirdActivity"
            android:theme="@style/AppTheme.NoActionBar"></activity>

        <activity
            android:name=".activity.CashFourthActivity"
            android:theme="@style/AppTheme.NoActionBar"></activity>

        <activity
            android:name=".activity.CashFifthActivity"
            android:theme="@style/AppTheme.NoActionBar"></activity>

        <activity
            android:name=".activity.CashTransferStatus"
            android:theme="@style/AppTheme.NoActionBar"></activity>


        <activity
            android:name=".activity.CashCorrectionActivity"
            android:theme="@style/AppTheme.NoActionBar"></activity>

        <activity
            android:name=".activity.CashEditForms"
            android:theme="@style/AppTheme.NoActionBar"></activity>

        <activity
            android:name=".activity.CashFillFormsActivity"
            android:theme="@style/AppTheme.NoActionBar"></activity>


        <activity
            android:name=".dialog.DialogAccountReason"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/Theme.AppCompat.Light.Dialog.MinWidth" />

    </application>

</manifest>